
html, body {
  height: 100%; /* il corpo occupa tutto lo schermo */
  margin: 0;
}

body {
  background: #EDEDED;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.main {
  flex: 1; /* occupa tutto lo spazio disponibile */
  padding: min(4rem, 5%);
  font-size: clamp(1rem, 4vw, 1.5rem);
}

.title {
  color: #53C2F7;
  font-size: clamp(2.5rem, calc(8vw + 1rem), 5rem);
  font-weight: bold;
  margin-bottom: 0.5em;
}

.footer {
  color: #FFFFFF;
  background: #53C2F7;
  padding: 1em;
  padding-right: 5em;
}

.contacts {
  width: fit-content;
  padding-right: 2em;
  line-height: 1.6;
  text-align: left; 
  margin-left: auto;
}

.contacts a {
  color: inherit;
  text-decoration: none;
}

.contacts a:hover {
  color: #2575A8;
  text-decoration: underline;
}